:root {
    --md-primary-fg-color: #4d4d4d;
    --md-primary-fg-color--light: #00C8F7;
    --md-primary-fg-color--dark: #0088aa;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--dark: #0088aa;
    --md-accent-fg-color: #0088aa;
    --md-accent-fg-color--transparent: #818181;
    --md-accent-bg-color: #ffffff;
    --md-accent-bg-color--light: #ffffff;
    --md-hue: 190deg;
    color-scheme: dark;
    --plyr-video-background: transparent;
	--top-home-section-color: linear-gradient(0deg, rgb(30, 39, 41) 0%, rgb(30, 39, 41) 39%, #4d4d4d 100%);

}

[data-md-color-scheme=slate] {
    --md-typeset-a-color: var(--md-primary-fg-color--light);
}

.red-color {
    color: #ff5252;
}

.green-color {
    color: #2b9b46;
}